{% extends 'base.html' %}
{% from 'macro/form.html' import print_form %}
{% block body %}

<form method="post">
    <div class="mx-4 px-5 py-5">
        <center><h4>Login</h4></center>
        {{ print_form(form) }}
        <a href="{{ url_for('authorization.reset') }}">Forgot password?</a>
        <center class="py-3">
            <button class="btn btn-primary" type="submit">Submit</button>
            <a class="btn btn-danger" href="{{ url_for('authorization.register') }}">Register</a>
        </center>
    </div>
</form>


{% endblock body %}