[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-login = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
python-slugify = "*"
flask-mail = "*"
celery = "*"
redis = "*"
eventlet = "*"
flask-ckeditor = "*"
flask-migrate = "*"

[dev-packages]

[requires]
python_version = "3.9"
